.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container{
    
    max-width: 1200px;
    margin: 0 auto;
  }
  a{
    color: #fff;
  }
  .my{
    margin-top: 10%;
  }
  .sec{
    margin: auto;
  }

  button{
    color: black;
  }
  img{
    size: 1em;
  }

  .card1{
    width: 100%;
   height: 100%;
  //  position: absolute;
  //  background-size: 100%;
   background-size: cover;
    background-image: url("../../assets/pexels-no-name-66997.jpg");  
}