<mat-toolbar color="primary">
    <span>DashBoard</span>
    <span class="example-spacer"></span>
    <a routerLink="/login"><mat-icon>power_settings_new</mat-icon></a>
  </mat-toolbar>
  <div class="card1">   
    <mat-grid-list cols="4" rowHeight="2%:2%">
      <mat-grid-tile class="sec">
        <a routerLink="/zipper_name">
          <button mat-raised-button >
            <img src="../../assets/zipper (2).png" alt="Zipper Name"><br>
            Zippers Names
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button >
            <img src="../../assets/Zip.png" alt="Zipper Name"><br>
            Zippers Sider Type
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button>
            <img src="../../assets/Zipper Tape.png" alt="Zipper Name"><br>
            Zipper Tape Type
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button >
            <img src="../../assets/company.png" alt="Zipper Name"><br>
            Company Entry
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button>
            <img src="../../assets/keyboard.png" alt="Zipper Name"><br>
            P O Data Entry
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button >
            <img src="../../assets/zipper (2).png" alt="Zipper Name"><br>
            Trim Cards
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button >
            <img src="../../assets/print.png" alt="Zipper Name"><br>
            Trim Report
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a routerLink="/user">
          <button mat-raised-button >
            <img src="../../assets/working-with-a-laptop.png" alt="Zipper Name"><br>
            Day End
          </button>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
    
  